name: CI Frontend

on:
  push:
    branches:
      - "*"
  pull_request:
    branches:
      - "*"

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - run: curl -fsSL https://get.pnpm.io/install.sh | bash -
      - run: echo "/home/runner/.local/share/pnpm:$PATH" >> $GITHUB_PATH
      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6
        with:
          node-version: 24
          cache: "pnpm"

      - run: make install
      - run: make lint
      - run: make compile
      - run: make test
